@model IEnumerable<DoctorAppointmentManagement.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_tName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_C_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_DoB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_tName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_C_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_DoB)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.p_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.p_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.p_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
